.pizza-order:hover {
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}

.order-list-area {
  display: none;
}

.total-area {
  display: none;
}

body {
  background-image: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7d7;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 7em;
  font-family: 'Codystar', cursive;
  margin: 3%;
}

p {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  margin-left: 10%;
  margin-right: 10%;
}

input {
  color: black;
  background: rgba(255,255,255, 0.3);
  border: none;
}

#total-cost {
  font-weight: bold;
}

.remove:hover {
  cursor: pointer;
  background-color: red;
}
