.pizza-order:hover {
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}

.order-list-area {
  display: none;
}

.total-area {
  display: none;
}

body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
  font-size: 5em;
  color: #f7f7d7;
}

input {
  color: black;
}

#total-cost {
  font-weight: bold;
}
