.pizza-order:hover {
  cursor: pointer;
  color: blue;
}

.order-list-area {
  display: none;
}

.total-area {
  display: none;
}

body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
}
